*{
    font-family:'Roboto',sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.main-container{
    max-width: 375px;
}

.logo{
    display: flex;
    width: 375px;
    height: 63px;
    gap: 10px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.15);
}


.logo_o{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}

.logo-o{
    width: 170px;
}

.icon-f{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.icon-f-size{
    font-size: 17px;
}

.location{
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 17px;
    background: #EAEAEA;
}

.icon-l-size{
    font-size: 17px;
}

.text{
    background-color: #F3F3F3;
}

.text-head{
    display: flex;
    text-align: center;
    justify-content: center;
}

.text-h{
    width: 275px;
    padding-top: 10px;
}

.text-head-2{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}

.text-h-2{
    width: 315px;
}

.button-1{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 15px;
}

.btn-1{
    border: 10px;
    width: 218px;
    height: 50px;
    cursor: pointer;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    &:hover{
        filter: brightness(105%);
    }
}   

.btn-txt{
    color: #FFFFFF;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: inherit;
}

.function{
    height: 440px;
}

.title-section{
    padding-left: 17px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.title-section-2{
    padding-left: 17px;
    padding-top: 20px;
}

.function-cel{
    display: flex;
    justify-content: center;
}

.cellule{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 322.49px;
    height: 72.38px;
    background-color: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-bottom: 25px;
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 13px;
    position: relative;
    left: -12px;
    background: #9356DC;
    color: #FFFF;
}

.n-1{
    font-size: 12px;
}

.cell-i{
    color: #7E7E7E;
    padding-right: 15px;
    font-size: larger;
}

.cell-i-last{
    color:#9356DC;
    padding-right: 15px;
}

.cell-txt{
    padding-right: 70px;
}

.cell-txt-2{
    padding-right: 88px;
}

.restaurant{
    background-color: #F7F7F7;
    height: 1200px;
}

.restaurant-cards{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.new{
    width: 80px;
    height: 29px;
    background: #99E2D0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    margin-left: 245px;
    margin-top: 15px;
}

.new-txt{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 7px;
    color: #008766;
    font-size: 14px;
}

.card-r{
    width: 340px;
    height: 251px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: white;
}

.card-img{
    width: 340px;
    height: 180px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.card-body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
}

.card-txt{
    padding-right: 105px;
}

.card-txt-2{
    padding-right: 140px;
}

.c-txt{
    position: relative;
    bottom: 14px;
}

.icon_heart {
    font-size: 24px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
  
  .icon_heart .fa-solid.fa-heart {
    display: none;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
  .icon_heart:hover .fa-solid.fa-heart,
  .icon_heart input:checked + label .fa-solid.fa-heart {
    display: block;
}
  
  .icon_heart:hover .fa-regular.fa-heart,
  .icon_heart input:checked + label .fa-regular.fa-heart {
    display: none;
}

.footer-omf{
    width: 375px;
    height: 175px;
    background-color: #353535;
}

footer{
    padding-top: 12px;
}

.logo-title{
    padding-left: 25px;
    padding-top: 22px;
    position: relative;
    bottom: 15px;
}

.title-footer{
    font-family: 'Shrikhand';
    color:#FFFFFF;
    font-weight: 400;
    font-size: 18px;
}

.footer-i-txt-1{
    display: flex;
    align-items: center;
    height: 20px;
    margin-bottom: 10px;
}

.footer-i-txt-2{
    display: flex;
    align-items: center;
    height: 10px;
}

.footer-i-1{
    color: white;
    font-size: 12px;
    padding-right: 11px;
}

.footer-i-2{
    color: #FFFFFF;
    font-size: 12px;
    padding-right: 6px;
}

.footer-txt{
    font-size: 14px;
    color: #FFFFFF  ;
}

.footer-txt-2{
    font-size: 14px;
    color: #FFFFFF;
}

.footer-txt-3{
    font-size: 14px;
    color: #FFFFFF;
    position: relative;
    bottom: 5px;
}

.footer-icons-txt{
    padding-left: 25px;
    position: relative;
    bottom: 5px;
}

/* Pages restaurant */


.logo_o-1{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img-head-p{
    width: 375px;
    object-fit: cover;
}

.img-head-p-2{
    width: 375px;
    height: 250px;
    object-fit: cover;
}

.part-menu{
    width: 375px;
    height: 1170px;
    background-color: #F7F7F7;
    border-radius: 45px 45px 0px 0px;
    position: relative;
    margin-top: -45px;
}

.part-menu-2{
    width: 375px;
    height: 1250px;
    background-color: #F7F7F7;
    border-radius: 45px 45px 0px 0px;
    position: relative;
    margin-top: -45px;
}

.title-restaurant{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    margin-bottom: 42px;
}

.diner-title-txt{
    font-family:"Shrikhand";
    font-size: 28px;
}

.title-diner-p{
    padding-right: 50px;
}

.icon_heart_2{
    font-size: 24px;
    padding-right: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
  
  .icon_heart_2 .fa-solid.fa-heart {
    display: none;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
  .icon_heart_2:hover .fa-solid.fa-heart,
  .icon_heart_2 input:checked + label .fa-solid.fa-heart {
    display: block;
}
  
  .icon_heart_2:hover .fa-regular.fa-heart,
  .icon_heart_2 input:checked + label .fa-regular.fa-heart {
    display: none;
}


.main-title{
    padding-left: 13px;
}

.border-title{
    border-bottom: 3px solid #99E2D0;
    width: 40px;
    position: relative;
    bottom: 10px;

}

.plats-cel{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.cellule-plat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 349px;
    height: 69px;
    background-color: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    &:hover{
        cursor: pointer;
    }
    &:hover .plat-checked{
        display: flex;
        width: 0;
        animation: slide-in-left 0.2s linear forwards;
    }
}


@keyframes slide-in-left {
    0% {
      width: 0;
    }
    100% {
      width: 60px;
    }
  }

  .plat-checked{
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100%;
    background-color: #99E2D0;
    border-radius: 0 20px 20px 0;
    }

    .price-check{
        display:flex;
        height: 100%;
    }
    
.icon-check{
        color: #FFFF;
        font-size: 22px;
    }

.cell-p-txt{
    padding-left: 15px;
    min-width:0;
}

.cell-p-txt h4,
.cell-p-txt p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.price-cell{
    padding-right: 15px;
    position: relative;
    top: 25px;
}

.title-cell{
    position: relative;
    top: 8px;
    font-size: 18px;
}

.txt-cell{
    position: relative;
    bottom: 11px;
    font-size: 15.0431px;
}

.main-title-2{
    margin-top: 40px;
    padding-left: 13px;
}

.button-2{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btn-2{
    border: 10px;
    width: 186px;
    height: 50px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    &:hover{
        filter: brightness(120%);
    }
}


@media screen and (min-width: 376px) {
    .main-container{
        width: 100%;
        max-width: none;
    }

    .logo{
        width: 100%;
    }

    .logo-o{
        width: 200px;
    }

    .text-h{
        width: 687px;
        font-size: 25px;
    }

    .text-h-2{
        width: 531px;
    }

    .button-1{
        padding-bottom: 35px;
    }

    .function{
        height: 228.38px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .title-section{
        padding-left: 30px;
    }

    .group-cell{
       display: flex;
       align-items: center;
    }

    .function-cel{
        padding-left: 40px;
    }
    
    .restaurant{
        height: fit-content;
        padding-bottom: 30px;
    }
    .title-section-2{
        max-width: 1085px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-restaurant{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1085px;
        margin-left: auto;
        margin-right: auto;
    }

    .restaurant-cards{
        flex: 50%;
    }

    .img-head-p {
        width: 100%;
        height: 450px;
    }

    .img-head-p-2{
        width: 100%;
        height: 450px;
    }

    .part-menu{
        width: 95%;
        max-width: 1055px;
        margin-left: auto;
        margin-right: auto;
    }

    .part-menu-2{
        width: 80%;
        max-width: 1055px;
        margin-left: auto;
        margin-right: auto;
    }

    .title-restaurant{
        justify-content: center;
    }

    .title-diner-p{
        padding-right: 10px;
    }

    .diner-title-txt {
        padding-right: 20px;
    }

    .main-title {
        padding-left: 13px;
        width: 634px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-title-2{
        margin-top: 40px;
        padding-left: 13px;
        width: 634px;
        margin-left: auto;
        margin-right: auto;
    }
    .cellule-plat{
        width: 634px;
    }

    .footer-omf{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    footer{
        padding-top: 12px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-bottom: 15px;
    }

    .logo-title{
        padding-top: 0;
        bottom: 15px;
        padding-right: 50px;
    }

    .footer-icons-txt {
        padding-left: 25px;
        position: relative;
        display: flex;
        align-items: baseline;
        bottom: 15px;
    }


    .footer-txt-3 {
        position: relative;
        bottom: 0;
        padding-right: 40px;
        padding-left: 15px;
    }

    .footer-txt-2{
      padding-left: 40px;
    }
    
    .footer-i-txt-2{
        padding-left: 20px;
    }

    .footer-txt{
        padding-left: 5px;
    }

}

@media screen and (min-width:600px) {
    .card-r{
        width: 490px;
    }

    .card-img{
        width: 490px;
    }

    .new{
        position: absolute;
        z-index: 1;
        margin-left: 380px;
        margin-top: 15px; 
    }

    .card-txt{
        padding-right: 240px;
    }

    .card-txt-2{
        padding-right: 285px;
    }
}

@media screen and (max-width: 1100px){
    .group-cell{
        flex-direction: column;
    }
    .function{
        height: fit-content;
    }

    
}

@media screen and (max-width: 812px){
.main-title{
    width: 100%;
}

.main-title-2{
    width: 100%;
}

.cellule-plat{
    width:80%
}


.footer-omf{
    display: block;
    height: 175px;
}

footer{
    display: block;
    padding-top: 12px;
    width: 375px;
}

.logo-title{
    padding-left: 25px;
    padding-top: 22px;
    position: relative;
    bottom: 15px;
}

.title-footer{
    font-family: 'Shrikhand';
    color:#FFFFFF;
    font-weight: 400;
    font-size: 18px;
}

.footer-i-txt-1{
    padding-left: 0;
 
}

.footer-i-txt-2{
    padding-left: 0;
}

.footer-i-1{
    color: white;
    font-size: 12px;
    padding-right: 11px;
}

.footer-i-2{
    color: #FFFFFF;
    font-size: 12px;
    padding-right: 6px;
}

.footer-txt{
    font-size: 14px;
    color: #FFFFFF;
}

.footer-txt-2{
    padding-left: 0;
}

.footer-txt-3{
   padding-left: 0;
}

.footer-icons-txt{
    display: block;
    padding-left: 25px;
    position: relative;
    bottom: 5px;
}

}
